<launch>
  <arg name="rb_name"         default="rosbag_for_post_process_2019-12-18-02-10-28" /> <!-- name of the rosbag -->
  <arg name="id"              default="7" />
  <arg name="robot_type"      default="quad" />
  <arg name="ns"              value="/$(arg robot_type)$(arg id)" />
  <arg name="modelcfg"        value="../backup/mslquad/model.weights" />
  <arg name="weightfile"      value="../cfg/yolo-pose.cfg" />
  <arg name="datacfg"         value="../cfg/mslquad.data" />

  <!-- Use sim time for reading from rosbag -->
  <param name="use_sim_time" value="true" />

  <!-- Play rosbag -->
  <node pkg="rosbag" type="play" name="player" args="--clock $(find singleshotpose)/rosbags/$(arg rb_name).bag"/>

  <!-- Launch our main node -->
  <node name="SSP_baseline_eval" pkg="singleshotpose" type="eval_baseline.py" output="screen">
    <param name="ns"  value="$(arg ns)"/> 
    <param name="modelcfg"  value="$(arg modelcfg)"/> 
    <param name="weightfile"  value="$(arg weightfile)"/> 
    <param name="datacfg"  value="$(arg datacfg)"/> 
  </node>
</launch>
